
.outer{
        text-align: center;
        margin-top: 4%;     
}
.welText{
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
    height:280px;
}
h2{
    font-size: 40px;
}
.title{
    animation-name: moveRight;
    animation-duration: 1.8s;
}
.titleTwo{
    animation-name:moveLeft;
    animation-duration: 1.7s;   
}

.titleThree{
    animation-name:moveRight;
    animation-duration: 1.8s;
    margin-top: 6%;
    margin-bottom: 10px;
    font-size: 28px;
}
.text{
    font-size: 28px;
    color:rgb(228, 228, 13);  
}

.letsTryBtn:hover{
    background-color: rgb(5, 67, 253);
}
@media screen and (min-width:695px){
    .letsTryBtn {
            margin-top: 10%;
        }
                .welText {
                   
                    margin-top: 6%;
                }
}



@keyframes moveRight {
    0%{
        opacity:0;
        transform:translateX(100px);
    }
    100%{
        opacity:1;
        transform: translate(0);
    }
}
@keyframes moveLeft {
    0%{
        opacity:0;
        transform:translateX(-150px);
    }
    100%{
        opacity:1;
        transform: translate(0);
    }
}